p {
  font-size: 1.1rem;
  line-height: 1.6;
}
  
.aboutHero {
  position: relative;
  overflow: hidden;
}

.illustration {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  filter: brightness(80%);
}

.aboutHeroTextContainer {
  position: absolute;
  padding: 0 50px;
  width: 100%;
  top: 10px;
  color: white;
  text-align: center;
}

.aboutHeroText {
  font-family: 'Noto Serif', serif;
  /* font-family: "Playfair Display", serif; */
  font-size: 2rem;
  font-weight: bold;
}

.aboutHeroSubTextContainer {
  position: absolute;
  padding: 0 30px;
  width: 100%;
  bottom: 30px;
  color: white;
  text-align: center;
}

.aboutHeroSubText {
  font-size: 18px;
}

.visionSectionContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 2rem;
}

.photoContainer {
  margin: 20px 30px;
}

.photo {
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 1rem;
  box-shadow: 6px 6px 14px rgba(0, 0, 0, 0.3);
}

.ctaSectionContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2rem;
  padding-bottom: 3rem;
}

.ctaButton {
  display: inline-block;
  background-color: #e60033;
  color: white;
  padding: 1rem 2rem;
  border-radius: 15px;
  text-decoration: none;
  font-weight: 600;
  transition: background 0.3s ease;
}

.ctaButton:hover {
  background-color: #c2002b;
}