.wrapper {
    padding: 0 20px;
}

.introStrip {
    padding: 36px 40px;
    width: 75%;
    margin: auto;
    border-bottom: 1px solid var(--color-border);
    opacity: 0;
    animation: fadeUp 0.6s 0.4s forwards;

    p {
        font-family: 'DM Sans', sans-serif;
        font-size: 16px;
        font-weight: 300;
        line-height: 2;
        color: rgba(255, 255, 255, 0.7);
    }

    strong {
        font-weight: 600;
        color: var(--color-white);
    }
}

/* .pillars {
    padding: 36px 24px;
    display: flex;
    flex-direction: row;
    gap: 44px;
    border-bottom: 1px solid var(--border);
} */

/* .pillar {
    opacity: 0;
    animation: fadeUp 0.5s forwards;

    p {
        font-family: 'DM Sans', sans-serif;
        font-size: 14px;
        font-weight: 300;
        line-height: 1.8;
        color: rgba(255, 255, 255, 0.7);
    }
} */

.pillarHeader {
    /* font-family: 'Playfair Display', serif; */
    display: inline-flex;
    align-items: center;
    column-gap: 12px;
    padding-bottom: 12px;
    color: var(--color-white);
}

.pillars {
    width: min(1100px, 100%);
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 48px;
    padding: 48px 0;
}

.pillar {
    opacity: 0;
    animation: fadeUp 0.5s forwards;
    padding: 0 32px;
    position: relative;

    p {
        font-family: 'DM Sans', sans-serif;
        font-size: 14px;
        font-weight: 300;
        line-height: 1.8;
        color: rgba(255, 255, 255, 0.7);
    }
}

.pillar:not(:last-child):after {
    content: "";
    position: absolute;
    top: 8px;
    right: 0;
    width: 1px;
    height: calc(100% - 16px);
    background: var(--color-border);
}

@media (max-width: 767px) {
    .introStrip {
        padding: 36px 24px;
        margin: 0;
        width: 100%;
    }

    .pillars {
        padding: 36px 24px;
        display: flex;
        flex-direction: column;
        gap: 44px;
        border-bottom: 1px solid var(--border);
    }

    .pillar:not(:last-child):after {
        display: none;
    }
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(18px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}