.topLevelContainer {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    align-items: center;
    justify-content: center;
}

.midLevelContainer {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.aboutHeader {
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
}

.aboutText {
    text-align: center;
}

.imageContainer {
  margin-top: 25px;
}

.testImageContainer {
  margin-top: 25px;
  height: 375px;
}

.testImageMAIN {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    padding: 10px;
}

.testImageCHILD_ONE {
    position: relative;
    width: 40%;
    max-width: 500px;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    bottom: 100px;
    left: 190px;
}

.testImageCHILD_TWO {
    position: relative;
    width: 40%;
    max-width: 500px;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    bottom: 345px;
    left: 175px;
}

.testImageCHILD_THREE {
    position: relative;
    width: 40%;
    max-width: 500px;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    bottom: 345px;
    left: 175px;
}

.imageUPDATE {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    padding: 10px;
}

.ctaWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5px;
    padding-top: 40px;
  }

.ctaHeading {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.ctaButton {
    display: inline-block;
    background-color: #e60033;
    color: white;
    padding: 0.75rem 1.5rem;
    border-radius: 9999px;
    text-decoration: none;
    font-weight: 600;
    transition: background 0.3s ease;
    font-size: 1.3rem;
}

.ctaButton:hover {
  background-color: #c2002b;
}

@media (max-width: 768px) {
    .aboutPageBody {
      padding: 20px 20px 50px 20px;
    }
}

  