.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.error {
  color: red;
  padding-left: 4px;
  line-height: 1.6;
  font-weight: 500;
}

.input {
  padding: 10px 14px;
  font-size: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 100%;
  background: white;
  color: #111;
  resize: none;
}

.inputError {
  border: 1px solid var(--color-red-primary);
  /* border-color: var(--color-red-primary); */
}

.button {
  padding: 12px 16px;
  border: none;
  background: var(--color-red-primary);
  color: white;
  font-weight: bold;
  border-radius: 24px;
  cursor: pointer;
  margin-top: 10px;
}


.contactHeroContainer {
  position: relative;
  overflow: hidden;
}

.illustration {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.contactHeroText {
  position: absolute;
  bottom: 10px;
  right: 20px;
  line-height: 3rem;
  font-size: 35px;
  color: white;
  text-align: right;
  font-family: 'Noto Serif', serif;
}

.descriptorContainer {
  padding: 25px 30px;
  text-align: center;
}

.formContainer {
  padding: 10px 32px 25px 32px;
  max-width: 500px;
  height: fit-content;
}