.card {
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 1rem;
  border: solid 1px #ededed;
  box-shadow: 3px 3px 14px rgba(0, 0, 0, 0.12);
  align-items: stretch;
  gap: 1rem;
  position: relative;
}

.imageContainer {
  position: relative;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  flex-shrink: 0;
}

.dateWidget {
  position: absolute;
  top: 15px;
  left: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 8px;
  width: 40px;
  height: 37px;
}

.dateWidgetMonth {
  font-size: 10px;
  color: var(--color-tertiary);
  font-weight: 600;
}

.dateWidgetDay {
  font-size: 1rem;
  font-weight: 600;
  color: var(--color-secondary);
}

.content {
  flex: 1;
  min-width: 0;
  padding: 0 15px;
}

.categoryContainer {
  display: flex;
  flex-direction: row;
  column-gap: 8px;
}

.category {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  width: auto;
  background: #f1f1f1;
  color: #333;
  font-size: 0.75rem;
  padding: 0.25rem 0.75rem;
  border-radius: 9999px;
  margin-bottom: 0.5rem;
}

.title {
  font-size: 1.125rem;
  font-weight: 600;
  margin: 0 0 0.25rem 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--color-secondary)
}

.description {
  color: var(--color-secondary);
  font-size: 0.875rem;
  margin-bottom: 0.75rem;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.details {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  font-size: 0.75rem;
  padding-top: 10px;
  column-gap: 2rem;
  row-gap: 8px;
}

.label {
  color: #999;
  margin-bottom: 0.25rem;
}

.value {
  font-weight: 500;
  color: var(--color-secondary);
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 8px 25px 15px;
}

.detailsButton {
  background: transparent;
  border: none;
  color: black;
  font-size: 0.875rem;
  cursor: pointer;
  text-decoration: underline;
}

.iconValuePair {
  display: flex;
  gap: 4px;
  align-items: center;
  color: var(--color-secondary);
}

@media (max-width: 640px) {
  .details {
    flex-direction: column;
    gap: 8px;
  }

  .description {
    -webkit-line-clamp: 2;
  }
}
