.heroContainer {
  position: relative;
  overflow: hidden;
}

.illustration {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.heroTextContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 20px;
  top: 5rem;
}
  
.heroText {
  font-size: 3rem;
  color: white;
  font-family: "Playfair Display", serif;
  text-align: center;
}

.subheading {
  font-size: 1.5rem;
  color: white;
  text-align: center;
}

.ctaButton {
  background-color: white;
  color: black;
  padding: 0.75rem 1.5rem;
  border-radius: 15px;
  font-weight: 600;
  font-size: 1rem;
  text-decoration: none;
  display: inline-block;
  margin-top: 5rem;
  transition: background-color 0.2s ease;
}

.ctaButton:hover {
  background-color: #c0c0c0;
}

/* Tablet */
@media (max-width: 1024px) {
  .heroTextContainer {
    padding: 0 40px;
    top: 4rem;
  }
  .heroText {
    font-size: 3rem;
  }

  .subheading {
    font-size: 1.2rem;
  }
}

/* Mini Tablet */
@media (max-width: 900px) {
  .heroText {
    font-size: 2.5rem;
  }

  .subheading {
    font-size: 1rem;
  }

  .ctaButton {
    margin-top: 3rem;
  }
}

/* Mobile */
@media (max-width: 767px) {
  .heroTextContainer {
    top: 4rem;
  }
  .heroText {
    font-size: 2rem;
  }

  .subheading {
    font-size: 0.9rem;
  }

  .ctaButton {
    margin-top: 4rem;
  }
}