.topBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f1f1f1;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    padding: 1rem;
    flex-wrap: wrap;
    gap: 1rem;
  }
  
.homeBody {
  padding: 0 75px 75px 75px;
}

@media (max-width: 768px) {
  .homeBody {
    padding: 0 20px 50px 20px;
  }
}