@import './theme.css';

.toggleWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: var(--color-dark-3);
  border-radius: 8px;
  padding: 4px;
  margin-bottom: 16px;
  border: 1px solid rgba(255, 255, 255, 0.06);
  width: 300px;
}

.toggleBtn {
  padding: 10px;
  text-align: center;
  background: var(--color-dark-3);
  font-size: 13px;
  font-weight: 500;
  color: var(--color-text-muted);
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s;
}

.toggleBtnActive {
  background: var(--color-dark-2);
  color: var(--color-white);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

/* Phone */
@media (max-width: 767px) {
  .toggleWrapper {
    width: 100%;
  }
}
  