  .filterIcon {
    margin-left: 0.5rem;
  }
  
  .drawer {
    position: fixed;
    top: 0;
    right: 0;
    width: 75%;
    max-width: 300px;
    height: 100%;
    background: #fff;
    box-shadow: -2px 0 8px rgba(0,0,0,0.15);
    z-index: 999;
    padding: 1rem;
    display: flex;
    flex-direction: column;
  }
  
  .drawerHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.3);
    z-index: 998;
  }

  .mobileToggle {
    margin: 0 1rem 2rem 1rem;
    display: flex;
    justify-content: center;
  }

  .mobileFilters {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    /* width: fit-content; */
    margin: 0 1rem;
  }
  
  .filterToggleButton {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 6px 14px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 0.95rem;
    font-weight: 500;
    cursor: pointer;
  }
  
  .activeFilterButton {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 14px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 0.95rem;
    font-weight: 500;
    color: #000;
    cursor: pointer;
  }
  
  .clearIcon {
    font-size: 1rem;
    color: #888;
  }

  .container {
    padding: 2rem 0.5rem 0.5rem;
    text-align: center;
  }
  
  .heading {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  
  .toggleWrapper {
    margin-bottom: 4rem;
    display: flex;
    justify-content: center;
  }
  
  .filtersRow {
    display: flex;
    justify-content: space-between;
    gap: 0.75rem;
    flex-wrap: nowrap;
    margin: 0 1rem;
  }
  