@import './theme.css';

.toggleWrapper {
  display: flex;
  background-color: #fff;
  border-radius: 20px;
  width: 180px;
  position: relative;
  border: 1px solid #d9d9d9;
}

.toggleBtn {
  flex: 1;
  color: black !important;
  cursor: pointer;
  z-index: 1;
  position: relative;
  transition: all 0.2s ease;
}

.toggleBtnActive {
  background-color: #f1f1f1 !important;
}

.toggleBtnActiveList {
  border-right: 1px solid #d9d9d9 !important;
}

.toggleBtnActiveCalendar {
  border-left: 1px solid #d9d9d9 !important;
}

.toggleBtnInactive {
  background-color: white !important;
}
  