.imageSkeleton {
    background: linear-gradient(-90deg, #efefef 0%, #fcfcfc 50%, #efefef 100%);
    background-size: 400% 400%;
    animation: pulse 1.2s ease-in-out infinite;
}

@keyframes pulse {
    0% {
        background-position: 0% 0%
    }
    100% {
        background-position: -135% 0%
    }
}

.titleSkeleton {
    width: 70%;
    height: 35px;
    margin-bottom: 1.5rem;
    border-radius: 8px;
}

.valueSkeleton {
    width: 50%;
    height: 25px;
    margin-bottom: 0.5rem;
    border-radius: 8px;
}

.footerSkeleton {
    margin: 0.2rem 1rem 1rem 1rem;
    height: 45px;
    border-radius: 12px;
}